* text=auto eol=lf
*.sh text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.xacro text eol=lf
src/course_bot_slam/maps/*.pgm binary
src/course_bot_slam/maps/*.posegraph binary
src/course_bot_slam/maps/*.data binary
